### 연산자

##### 산술연산지
- '+' : 더하기
- '-' : 빼기
- '*' : 곱하기
- '/' : 나누기
- '%' : 나머지
- '//' : 몫 구하기
- '**' : 거듭제곱

In [1]:
5 + 1

6

In [2]:
5 - 1

4

In [3]:
5 * 2

10

In [4]:
5 / 2

2.5

In [5]:
5 % 2

1

In [6]:
5 // 2

2

In [7]:
5 ** 2

25

##### 비교 연산자
- '>' : 크다
- '>=' : 크거나 같다
- '<' : 작다
- '<=' : 작거나 같다
- '==' : 같다
- '!=' : 다르다

In [8]:
5 > 2

True

In [9]:
5 >= 2

True

In [10]:
5 < 2

False

In [11]:
5 <= 2

False

In [12]:
5 == 2

False

In [13]:
5 != 2

True

##### 논리연산자
- and : 논리 곱
- or : 논리 합
- not : 논리 부정

In [14]:
True and True

True

In [15]:
(5 > 2) and (5 <= 2)

False

In [16]:
True or False

True

In [17]:
(5 > 2) or (5 <= 2)

True

In [18]:
not True

False

In [19]:
not (5 <= 2)

True

### 변수
데이터를 저장하는 공간
파이썬에서는 변수의 특정 데이터 타입이 존재하지 않음
즉, 하나의 변수에 여러 데이터 타입을 할당할 수 있음

In [23]:
variable = 10
variable

10

In [22]:
variable = True
variable

True

In [24]:
variable = 10.0
variable

10.0

In [25]:
variable = .13 # variable = 0.13과 같다
variable

0.13

### 데이터타입
- 정수형
- 실수형
- 논리형
- 문자열

In [26]:
type(10)

int

In [27]:
type(10.0)

float

In [28]:
type(True)

bool

In [29]:
type('문자열')

str

### 데이터타입 변환
- int() : 특정 데이터를 정수형으로 변환
- float() : 특정 데이터를 실수형으로 변환
- bool() : 특정 데이터를 논리형으로 변환
- str() : 특정 데이터를 문자열로 변환

In [30]:
int(10.34)

10

In [32]:
int(True)

1

In [35]:
int('10') # 실수를 넣으면 에러 발생

10

In [36]:
float(10)

10.0

In [37]:
float(True)

1.0

In [40]:
float('10') # 정수, 실수 둘 다 가능

10.0

In [41]:
float('a') # 에러 발생

ValueError: could not convert string to float: 'a'

In [42]:
bool(1) # 0일때는 False

True

In [43]:
bool('a')

True

In [44]:
str(10)

'10'

In [45]:
str(True)

'True'

### NaN, Inf
- NaN (Not a Number) : 숫자가 아님을 나타냄
- Inf (Infinity) : 무한대

In [46]:
float('NaN')

nan

In [47]:
float('Inf')

inf

In [48]:
float('-Inf')

-inf

### 대입연산자
- '=' : 좌항에 우항을 대압
- '+=' : 좌항에 좌항값에 우항을 더한 값을 대입
- '-=' : 좌항에 좌항값에 우항을 뺀 값을 대입
- '*=' : 좌항에 좌항값에 우항을 곱한 값을 대입
- '/=' : 좌항에 좌항값에 우항을 나눈 값을 대입
- '**=' : 좌항에 좌항값에 우항을 거듭제곱한 값을 대입
- '//=' : 좌항에 좌항값에 우항을 나눈몫 값을 대입

##### 파이썬은 증감연산자가 존재하지 않음
증감을 표현하고 싶으면  
변수 += 1, 변수 -= 1

In [58]:
variable = 10

In [63]:
variable += 3
variable # 재생을 돌린 횟수만큼 3씩 증가

13

In [64]:
variable -= 3
variable

10

In [65]:
variable **= 3
variable

1000

In [66]:
variable //= 99
variable

10

### 문자열
- 출력 : print() 함수로 문자열 출력
- 문자열 연산 : + 연결, * 반복
- 타 데이터 타입과 연결 : 반드시 타 데이터 타입을 str() 형변환 함수로 변형 후 연결해야함
- 문자열 : ' 혹은 " 로 묶어서 표현, \n 으로 줄바꿈 가능
- 여러줄의 문자열 : ''' 확은 """로 표현
- 문자열 치환 : .replace() 문자열 메서드로 특정 문자열을 변경 가능
- f문자열 : 문자열 앞에 f라는 키워드를 붙여서 문자열의 포멧을 만들어 사용 가능

In [67]:
print('문자열')

문자열

In [69]:
string1 = '문자열1'
print(string1)
string2 = '문자열2'
print(string2)

문자열1
문자열2

In [70]:
string1 + string2

'문자열1문자열2'

In [71]:
string1 * 5

'문자열1문자열1문자열1문자열1문자열1'

In [72]:
integer = 10

In [74]:
string1 + str(integer) + string2

'문자열110문자열2'

In [76]:
print('안녕하세요\n반갑습니다')

안녕하세요
반갑습니다

In [81]:
statement = '''안녕하세요
반갑습니다'''
print(statement)

안녕하세요
반갑습니다

In [86]:
date = '2024-07-18'
print(date.replace('-', '.'))
print(date)
date.replace('-', '.')

2024.07.18
2024-07-18

'2024.07.18'

In [89]:
name = '이성계'
age = 56

print(str(name) + '의 나이는 ' + str(age) + '입니다.') # str()로 형변환을 하지 않으면 에러 발생
print(f'{name}의 나이는 {age}입니다.') # print(f'{}') 형태

이성계의 나이는 56입니다.
이성계의 나이는 56입니다.

In [90]:
f'{'abcd':>20}' # >로 방향을 결정, 문자를 포함하여 숫자만큼 공간을 만듬

'                abcd'

In [95]:
f'{'abcd':0>20}'

'0000000000000000abcd'

In [92]:
f'{'abcd' :0^20}' # ^는 중앙

'00000000abcd00000000'

In [93]:
f'{2345:0>20,}'

'0000000000000002,345'